付凯泰/week09/意图识别.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 意图识别
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774247106828-true-1774247493888-target
      selected: false
      source: '1774247106828'
      sourceHandle: 'true'
      target: '1774247493888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774247493888-source-llm-target
      selected: false
      source: '1774247493888'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774247590475-source-1774247717367-target
      selected: false
      source: '1774247590475'
      sourceHandle: source
      target: '1774247717367'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774261149340-source-1774247575137-target
      selected: false
      source: '1774261149340'
      sourceHandle: source
      target: '1774247575137'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774247575137-source-1774262122725-target
      selected: false
      source: '1774247575137'
      sourceHandle: source
      target: '1774262122725'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774262122725-source-1774262225452-target
      selected: false
      source: '1774262122725'
      sourceHandle: source
      target: '1774262225452'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774245652993-source-1774262555628-target
      source: '1774245652993'
      sourceHandle: source
      target: '1774262555628'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1774262555628-source-1774247106828-target
      source: '1774262555628'
      sourceHandle: source
      target: '1774247106828'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774247106828-f0da6429-fa93-4ed5-b64e-504f9bd92535-1774261149340-target
      source: '1774247106828'
      sourceHandle: f0da6429-fa93-4ed5-b64e-504f9bd92535
      target: '1774261149340'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774247106828-da55ae89-08c7-497f-b817-9fe55d8bab12-1774247590475-target
      source: '1774247106828'
      sourceHandle: da55ae89-08c7-497f-b817-9fe55d8bab12
      target: '1774247590475'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1774245652993'
      position:
        x: 4.4572723801304335
        y: 282
      positionAbsolute:
        x: 4.4572723801304335
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774247493888'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 9a2fcc30-dd95-4681-9560-cc78d545b7b6
          role: system
          text: 你是大模型领域专家，请你根据知识库检索结果回答用户提出的问题
        - id: 01ca87e4-04ed-4460-8c0e-4dc92aebee3d
          role: user
          text: '{{#sys.query#}}

            {{#context#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 1359
        y: 303
      positionAbsolute:
        x: 1359
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1713
        y: 303
      positionAbsolute:
        x: 1713
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7ef735b1-fc57-421e-a5fc-a585ff69e170
            value: 大模型
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        - case_id: f0da6429-fa93-4ed5-b64e-504f9bd92535
          conditions:
          - comparison_operator: contains
            id: 0bdf3f40-c53d-4fe2-8ccf-23cca0ba0624
            value: 机器学习
            varType: string
            variable_selector:
            - sys
            - query
          id: f0da6429-fa93-4ed5-b64e-504f9bd92535
          logical_operator: and
        - case_id: da55ae89-08c7-497f-b817-9fe55d8bab12
          conditions:
          - comparison_operator: not contains
            id: 43ab514a-ad37-40c7-993a-71677cf879b9
            value: 大模型
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: not contains
            id: 526b3f03-2d0a-46af-b1d2-dac0c7ff1603
            value: 机器学习
            varType: string
            variable_selector:
            - sys
            - query
          id: da55ae89-08c7-497f-b817-9fe55d8bab12
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 245
      id: '1774247106828'
      position:
        x: 666.2453309098755
        y: 287.4869835499704
      positionAbsolute:
        x: 666.2453309098755
        y: 287.4869835499704
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - YqZ7eBewaB+ayYioQJ6m6JdpxikNwgtJs7kgsAmHSydCt7yWwd1reaFR/b6bQ5/j
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774245652993'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1774247493888'
      position:
        x: 1059
        y: 303
      positionAbsolute:
        x: 1059
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - IxdPXTznbPSu5j07IXacfXqy7hz2nGCysDbYQuMGIrqa0oK4wB+8YDxSB+FR4EPb
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774245652993'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 89
      id: '1774247575137'
      position:
        x: 1359
        y: 461
      positionAbsolute:
        x: 1359
        y: 461
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: a440a155-651d-4101-a3f2-f7d786702ede
          role: system
          text: 根据用户的提问，做出相应的回答
        - id: d759ade1-81d5-4284-9554-a70b0ae745f6
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774247590475'
      position:
        x: 1059
        y: 633
      positionAbsolute:
        x: 1059
        y: 633
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1774247590475.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 102
      id: '1774247717367'
      position:
        x: 1420.189586839976
        y: 633
      positionAbsolute:
        x: 1420.189586839976
        y: 633
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 693eff77-2fb0-4f35-bcbc-c247400f9791
          role: system
          text: 将用户的问题改写成英文的query
        - id: 74fb7ebc-d09b-4536-a4e3-0848b79a8ec6
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774261149340'
      position:
        x: 1079.893213519107
        y: 440.106786480893
      positionAbsolute:
        x: 1079.893213519107
        y: 440.106786480893
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774247575137'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 5954c318-a3ed-4ee8-9d1b-d79132eb5d2b
          role: system
          text: 你是机器学习领域专家，请你根据知识库检索结果回答用户提出的问题
        - id: e2c7126a-edc9-4284-af8e-d2b1b669312c
          role: user
          text: '{{#sys.query#}}

            {{#context#}}'
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774262122725'
      position:
        x: 1660
        y: 461
      positionAbsolute:
        x: 1660
        y: 461
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1774262122725.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 102
      id: '1774262225452'
      position:
        x: 1964
        y: 461
      positionAbsolute:
        x: 1964
        y: 461
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 57698f7d-ca45-4342-a86a-369d7f146ae9
          role: system
          text: 根据用户的query判断用户的意图：1.query中是否包含大模型；2.query中是否包含机器学习；3.query是否与机器学习和大模型都无关
        - id: 8c1f6e7a-f1d2-48ad-8016-8ecb5ed4474a
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774262555628'
      position:
        x: 337.4981608651097
        y: 303
      positionAbsolute:
        x: 337.4981608651097
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 101.79358399654234
      y: 104.5164446596209
      zoom: 0.6597539553864471
  rag_pipeline_variables: []
